@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shad-input {
    @apply bg-white placeholder:text-gray-600 border-gray-500 h-11 focus-visible:ring-0 focus-visible:ring-offset-0 rounded-md !important;
  }
  .shad-error {
    @apply text-red-400 text-sm !important;
  }
}
@layer base {
  body {
    @apply bg-zinc-50;
  }
  :root {
    --background: rgba(255, 255, 255, 1);
    --foreground: rgba(15, 15, 15, 1);
    --card: rgba(255, 255, 255, 1);
    --card-foreground: rgba(15, 15, 15, 1);
    --popover: rgba(255, 255, 255, 1);
    --popover-foreground: rgba(15, 15, 15, 1);
    --primary: #9733EE;
    --primary-foreground: rgba(255, 255, 255, 1);
    --secondary: rgba(240, 240, 240, 1);
    --secondary-foreground: rgba(15, 15, 15, 1);
    --muted: rgba(240, 240, 240, 1);
    --muted-foreground: rgba(60, 60, 60, 1);
    --accent: rgba(240, 240, 240, 1);
    --accent-foreground: rgba(15, 15, 15, 1);
    --destructive: rgba(255, 59, 48, 1);
    --destructive-foreground: rgba(15, 15, 15, 1);
    --border: rgba(220, 221, 225, 1);
    --input: rgba(220, 221, 225, 1);
    --ring: rgba(15, 15, 15, 1);
    --radius: 0.5rem;
  }


}
